.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.section-title h1{
    font-size: 35px;
    font-weight: 700;
    color: #93934A;

}
.section-line{
    width: 192px;
    height: 1px;
    background: rgb(6,240,41);
    background: linear-gradient(90deg, rgba(6,240,41,1) 0%, rgba(12,25,11,1) 100%);
}
                                                                                                                                                                                                                                                                 